LogAggregator/LogAggregatorClient/test/*
LogAggregator/LogAggregatorClient/build/*
LogAggregator/LogAggregatorClient/nbproject/*
LogAggregator/LogAggregatorClient/build/built-jar.properties
LogAggregator/LogAggregatorClient/dist/*
LogAggregator/LogAggregatorClient/build/*

LogAggregator/LogAggregatorServer/target/*
LogAggregator/LogAggregatorServer/nb-configuration.xml
LogAggregator/LogAggregatorServer/README.md
LogAggregator/LogAggregatorServer/src/test/*
LogAggregator/LogAggregatorServer/src/main/resources/*
LogAggregator/LogAggregatorServer/src/test/webapp/*
LogAggregator/LogAggregatorServer/nbproject/*

*.properties
